<!DOCTYPE html>
<html>
  <head>
    <title>Introduce ED's Friends | <%= @title %></title>
  </head>
  <body>
	<h1>Introduce ED's Friends About</h1>
	<p>
	Made by Hanol Seo, Hyeryeong Yoon
	</p>
  </body>
</html>
